h1, p {
  text-align: center;
}

body {
  font-family: helvetica, times, serif;
  font-size: 14px;
  margin: 0;
  display: block;
  box-sizing: border-box;
  background-color: lightblue;

}
body #content {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-image: url("https://www.americandisposal.com/uploads/images/Flag.jpg");
  background-size: cover;
  min-height: 450px;
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;

}
body #content h1 {
  margin: 0;
  padding: 15px;
  text-align: center;
}
body #content #myBtn {
  color: white;
  background: blue;
  border: 3px solid white;
  border-radius: 6px;
  transition: .3s;
  height: 40px;
  width: 100%;
  max-width: 270px;
  font-size: 2em;
  display: block;
  text-align: center;
  margin: 15px auto;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
body #content #myBtn:hover {
  background: white;
  color: red;
  cursor: pointer;
}
body #content label {
  display: block;
  font-size: 1.5em;
  width: 25%;
  font-weight: bold;
  margin: 1em auto;
}
body #content #quiz {
  position: relative;
}
body #content #quiz .total {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
